<div id= "flash">
    <%flash.each do |key,value|%>
        <div class= " <%=flash_class(key.to_sym)%> alert-dismissible fade show" role = "alert">
            <% unless value == true %>
                <button type="button" style= "color:red;" class="btn-close" data-bs-dismiss = "alert" area-lable = "Close">&#10060;</button>
                <%=value%>
            <%end%>
        </div>
    <%end%>
</div>